<div id="taglistr">
    <% if (page.tags && page.tags.length) { %>
    <i class="fa fa-tags">&nbsp;</i>
    <% page.tags.forEach(function(tag) { %>
        <a href="<%- url_for(tag.path) %>">
            <span class="chip bg-color"><%= tag.name %></span>
        </a>
    <% }); %>
    <% } else { %>
        <div id="taglistr">
          <i class="fa fa-none"></i>
        </div>
    <% } %>
    <% if (page.categories && page.categories.length > 0) { %>
        <span>&nbsp;&nbsp;</span>
        <i class="fas fa-bookmark fa-fw icon-category"></i>
        <% page.categories.forEach(category => { %>
            <a href="<%- url_for(category.path) %>" class="post-category">
                <%- category.name %>
            </a>
        <% }); %>
    <% } %>
</div>
